<div class="center flex">
    <section class="card center">
        <div class="d-logo center flex">
            <img class="logo"
                src="https://th.bing.com/th/id/OIP.g3xcOGZJ9u85ZzBzGU1yPgHaDT?w=319&h=156&c=7&r=0&o=5&dpr=2&pid=1.7"
                alt="logo">
        </div>

        @if(!showSignup){
        <div class="title">
            <h2 class="center flex roboto-thin">Log In</h2>
        </div>

        <form action="post">
            <section class="form">

                <input class="center flex roboto-thin" type="email" name="email" id="email" [(ngModel)]='loginObj.email'
                    placeholder="Email">
                <input class="center flex roboto-thin" type="password" name="password" id="password"
                    [(ngModel)]='loginObj.password' placeholder="Password">
                <div class="space-between">
                    <div class="center flex">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label class="text-size-10 roboto-thin" for="rememberMe">Remember me</label>
                    </div>
                    <div class="center flex">
                        <a class="link text-size-10 roboto-thin" href="">
                            <span>Forgot password?</span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="buttons">
                <button class="center flex button button-primary" type="submit" (click)="onLogin()">Sign in</button>
                <button class="center flex button button-secondary" type="submit" (click)="signinWithGoogle()">
                Sign in with Google</button>
            </section>

            <section class="not-member center flex">
                <span class="text-size-10 roboto-thin"> Not a member yet? <button class="link"
                        (click)="showSignup=!showSignup ">Sign
                        up</button></span>
            </section>
        </form>
        }
        @else {
        <div class="title">
            <h2 class="center flex roboto-thin">Sign Up</h2>
        </div>

        <form action="post">
            <section class="form">

                <input type="text" class="center flex roboto-thin form-control" id="firstName" name="firstName" placeholder="First Name"
                    [(ngModel)]='signupObj.firstName'>
                <input type="text" class="center flex roboto-thin form-control" id="lastName" name="lastName" placeholder="Last Name"
                    [(ngModel)]='signupObj.lastName'>
                <input class="center flex roboto-thin" type="email" name="email" id="email"
                    [(ngModel)]='signupObj.email' placeholder="Email">
                <input class="center flex roboto-thin" type="password" name="password" id="password"
                    [(ngModel)]='signupObj.password' placeholder="Password">
                <input class="center flex roboto-thin" type="password" name="confirmPassword" id="confirmPassword"
                    [(ngModel)]='confirmPassword' placeholder="Confirm Password">
                <div class="space-between">
                </div>
            </section>

            <section class="buttons">
                <button class="center flex button button-primary" type="submit" (click)="onSignup()">Sign Up</button>
            </section>

            <section class="not-member center flex">
                <span class="text-size-10 roboto-thin"> Already a Member? <button class="link"
                        (click)=" showSignup=!showSignup ">Log
                        in</button></span>
            </section>
        </form>
        }


    </section>
</div>