<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/categoryProducts">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                @if(isAdmin){
                    <li class="nav-item" >
                        <a class="nav-link" href="/analysis">Analysis</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/categoryProducts">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customerOrders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customerCart"><fa-icon [icon]="faCartShopping"></fa-icon>
                        <span class='badge badge-warning' id='lblCartCount'> {{cartItems.length}} </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>